.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }

  .width-and-height {
    height: 50px;
    width: 50px;
  }

  .padding {
      padding: 20px;
  /* insira aqui um padding de 20px na classe abaixo para aplicá-lo aos itens B, C e D */
  }

  .margin {
      margin: 30px;
  /* insira aqui uma margem de 30px na classe abaixo para aplicá-la aos itens C e D */
  }

  .border {
      border: 5px solid black;
  /* insira aqui uma borda com valor '5px solid black' para aplicá-la ao item D */
  }






  .super-mario { 
      width: 300px;

  }

  .goomba { 
      width: 200px;
      position: absolute;
      top: 500px;
      left: 100px;

  }

  .word {
      width: 500px;
      position: absolute;
      top: 150px;
      left: 450px;
      z-index: 1;

  }

  .baloon {
      position: absolute;
      top: 100px;
      left: 400px

  }

  .bowser { 
      width: 500px;
      position: absolute;
      top: 100px;
      left: 700px;

  }


  .text-center h1, p{
      text-align: center;
  }

  .list-text ol, li {
      text-align: center;
  }

  .list-text ol, ul, li{
      list-style: none;
  }


  li:hover {
      background-color: blueviolet;
  }

  li:active {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  