h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

ul {
    background-color: blue;
}

.list-style {
    background-color: blueviolet;
    font-style: italic;
}

#Yellow {
    background-color: yellow;
}
#Red {
    background-color: red;
}
#Brown {
    background-color: saddlebrown;
}